@import "tailwindcss";
@plugin "daisyui";
@import "./fonts.css";

body {
  font-family: "Challet", ui-sans-serif, system-ui;
}

.gold {
  color: #d4a750;
}

.bg-navbar {
  background-color: #192b39;
}
